<gen-topnavbar></gen-topnavbar>

<body>
  <ul class="vert-tab">
    <li>
      <img src="https://image.freepik.com/free-photo/cute-cat-picture_1122-449.jpg" alt="Cat">
    </li>
    <li>
      {{user.u_f_name}} {{user.u_m_name}} {{user.u_l_name}}
    </li>
    <li style="font-weight: bold">
      Quest(s):
    </li>
    <li *ngFor="let quest of quests; let i = index">
      <a>{{quest.quest_title}}
        <div class="progress">
          <div ngClass="{{this.defaultPBClass}} {{this.progressBarClass? this.progressBarClass[i]: ''}}" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" [style.width]="this.questTimePercentage? this.questTimePercentage[i]: '0%'">
          </div>
          <span>{{this.questTimeDisplay? this.questTimeDisplay[i]: '0%'}}</span>
        </div>
        {{quest.quest_description}}
      </a>
    </li>
  </ul>

  <div class="side-body">

    <section class="chart">
      <h3>My Performance</h3>

      <div class="row">
        <div >
          <div style="display: block">
            <canvas baseChart width="600" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
              [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </div>

      <!--Table for the performance graph-->
      <div class="row">
        <div style="margin-bottom: 10px">
          <table class="table table-responsive table-condensed">
            <tr>
              <th *ngFor="let label of lineChartLabels">{{label}}</th>
            </tr>
            <tr *ngFor="let d of lineChartData">
              <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <section class="badges">
      <h3>My Badges</h3>
      <ng-container *ngIf="badges && badges.length != 0">
        <div *ngFor="let badge of badges">

        </div>
      </ng-container>
      <ng-container *ngIf="!badges || badges.length == 0">
        You have no badges yet.
      </ng-container>
    </section>
  </div>

</body>