td {
    padding-right: 30px;
}

.row-fluid {
    display: flex;
    align-items: flex-end;
}

.remove-border {
    border: none;
}

/*For form's input*/
.user-information {
    width: 100%;
}

.disable {
    color: gray;
}

/*Header3 Design*/
#title:after {
    content:' ';
    margin-top: 5px;
    margin-bottom: 10px;
    display:block;
    width: 90%;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}
