<h3 class="title">
	Quest Map
</h3>

<!--Graph for quest map-->
<div class="row" *ngIf="quests">
	<div style="display: block">
		<canvas id="quest-map" baseChart width="650" height="300"></canvas>
	</div>
</div>

<div *ngIf="!quests">
	Loading...
	<img class="loading-icon" src="/assets/images/loading.gif" />
</div>

<ng-template class="create-quest-modal" #createQuestTemplate>
	<!--Modal Header-->
	<div class="modal-header">
		<h4 class="modal-title">Create Quest</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<!--Modal Body-->
	<form class="create-quest-body" [formGroup]="createQuestForm" (ngSubmit)="createQuest()">
		<div class="modal-body">
			<div class="row">
				<div class="col-md-3">
					Quest Title
				</div>
				<div class="col-md-7">
					<input type="text" formControlName="questTitle" class="information-input remove-border" required/>
				</div>
				<div *ngIf="questTitle.invalid" class="col-md-2 required-text">*required</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					Quest Description:
				</div>
				<div class="col-md-7">
					<textarea type="text" formControlName="questDescription" class="information-input remove-border"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					Quest Retakable:
				</div>
				<div class="col-md-7">
					<label>
						<input type="radio" formControlName="questRetakable" value="Y"> Yes
					</label>
					<label>
						<input type="radio" formControlName="questRetakable" value="N"> No
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					Quest Badgee:
				</div>
				<div class="col-md-7">
					<label formArrayName="questBadges" style="margin-right: 5px" *ngFor="let badge of questBadgesArray.controls; let i = index">
						<ng-container [formGroupName]="i">
							<input type="checkbox" formControlName="isChecked">
						</ng-container>
						{{questBadges[i].badgeName}}
					</label>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					Deadline:
				</div>
				<div class="col-md-7">
					<input id="end-date" type="datetime-local" formControlName="questEndDate" class="information-input remove-border" required/>
				</div>
				<div *ngIf="questEndDate.invalid" class="col-md-2 required-text">
					<span *ngIf="questEndDate.errors.required">
						*required
					</span>
					<span *ngIf="questEndDate.errors.pattern">
						*correct date
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					EXP gained:
				</div>
				<div class="col-md-7">
					<input id="questEXP" type="text" formControlName="questEXP" class="information-input remove-border" required/>
				</div>
				<div *ngIf="questEXP.errors" class="col-md-2 required-text">
					<span *ngIf="questEXP.errors.required">
						*required
					</span>
					<span *ngIf="questEXP.errors.pattern">
						*must be number
					</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					HP gained:
				</div>
				<div class="col-md-7">
					<input type="text" formControlName="questHP" class="information-input remove-border" />
				</div>
				<div *ngIf="questHP.invalid && questHP.errors.pattern" class="col-md-2 required-text">
					*must be number
				</div>
			</div>
		</div>
		<!-- Quest Modal Buttons -->
		<div class="modal-footer">
			<!-- shows submit & abandon buttons if user is a participant -->
			<button class="btn btn-danger mr-auto" (click)="resetQuest()">Reset</button>
			<button class="btn btn-success" [disabled]="createQuestForm.invalid">Create</button>
		</div>
	</form>
</ng-template>

<!-- Modal Template for Quests-->
<ng-template #questTemplate>

	<!-- Quest Modal Header/Title -->
	<div class="modal-header">
		<h4 class="modal-title">
			{{this.questClicked.getQuestTitle()}}
			<h6 *ngIf="isParticipating(this.questClicked.getQuestId())" style="text-align: center">(In Progress)</h6>
		</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<!-- Quest Information -->
	<div class="modal-body">
		{{this.questClicked.getQuestDescription()}}
		<div class="row" style="margin-top: 20px">
			<div class="col-sm-6">
				Rewards:
				<br> + {{this.questClicked.getQuestXp()}} XP
				<br> + {{this.questClicked.getQuestHp()}} HP
			</div>
			<div class="col-sm-6">
				Started on:
				<br> {{this.pageService.formatDateTime(this.questClicked.getQuestStartTimeDate())}}
				<br>
				<br> Deadline:
				<br> {{this.pageService.formatDateTime(this.questClicked.getQuestEndTimeDate())}}
				<br>
				<br>
			</div>
		</div>
	</div>

	<!-- Quest Modal Buttons -->
	<div class="modal-footer">
		<!-- shows submit & abandon buttons if user is a participant -->
		<ng-container *ngIf="isParticipating(this.questClicked.getQuestId())">
			<button type="submit" class="btn btn-danger mr-auto" (click)="abandonQuest()">Abandon Quest</button>
			<button type="submit" class="btn btn-success" (click)="submitQuest()">Submit Quest</button>
		</ng-container>
		<!-- shows accept button if user is not yet a participant -->
		<ng-container *ngIf="!isParticipating(this.questClicked.getQuestId())">
			<button type="submit" class="btn btn-success" (click)="acceptQuest()">Accept the Quest</button>
		</ng-container>
	</div>
</ng-template>
<!-- quest modal template end -->


<ng-template #leaderboardTemplate>
	<div class="modal-body">
		<h4>Going Bananas</h4>
		<table class="table table-hover">
			<thead style="font-weight: bold">
				<tr>
					<td>Rank</td>
					<td>Student Number</td>
					<td>Experience</td>
					<td>Time Submitted</td>
					<td>Date Submitted</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>2014-67553</td>
					<td>400</td>
					<td>ss:mm:hh</td>
					<td>dd/mm/yyyy</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2014-37728</td>
					<td>500</td>
					<td>ss:mm:hh</td>
					<td>dd/mm/yyyy</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-right" (click)="modalRef.hide()">Close</button>
	</div>
</ng-template>