<!--Graph for quest map-->
<h3>Quest Map</h3>

<div class="row" *ngIf="quests">
	<div style="display: block">
		<canvas id="quest-map" baseChart width="650" height="300"></canvas>
	</div>
</div>

<!-- if quests still loading-->
<div *ngIf="!quests">
	Loading...
	<img class="loading-icon" src="/assets/images/loading.gif" />
</div>
<!-- <ng-container *ngIf="quests">
	<div class="square" style="border:1px solid black;" *ngFor="let quest of quests; let i = index;">
		<ng-container>
			<ul>
				<li>{{i}}</li>
				<li>
					<div>{{quest.getQuestDescription()}}</div>
				</li>
				<li>asdasdas</li>
				<li>asdasdas</li>
			</ul>
			<button type="button" class="btn btn-primary" (click)="openQuest(questTemplate, this.QUEST)">Click for more info!</button>
		</ng-container>
	</div>
</ng-container> -->

<!-- Modal Template for Quests-->
<ng-template #questTemplate>

	<!-- Quest Modal Header/Title -->
	<div class="modal-header">
		<h4 class="modal-title">
			{{this.questClicked.getQuestTitle()}}
			<h6 *ngIf="isParticipating(this.questClicked.getQuestId())" style="text-align: center">(In Progress)</h6>
		</h4>
		<button type="button" class="close pull-right" aria-label="Close" (click)="questModalRef.hide()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<!-- Quest Information -->
	<div class="modal-body">
		{{this.questClicked.getQuestDescription()}}
		<div class="row" style="margin-top: 20px">
			<div class="col-sm-6">
				Rewards:
				<br> + {{this.questClicked.getQuestXp()}} XP
				<br> + {{this.questClicked.getQuestHp()}} HP
			</div>
			<div class="col-sm-6">
				Started on:
				<br> {{this.pageService.formatDateTime(this.questClicked.getQuestStartTimeDate())}}
				<br>
				<br> Deadline:
				<br> {{this.pageService.formatDateTime(this.questClicked.getQuestEndTimeDate())}}
				<br>
				<br>
			</div>
		</div>
		<div *ngIf="isParticipating(this.questClicked.getQuestId()) && !isQuestTaken(this.questClicked.getQuestId())">
			<textarea [(ngModel)]="commentBox" style="width: 100%" placeholder="Place your comment here."></textarea>
		</div>
	</div>

	<!-- Quest Modal Buttons -->
	<div class="modal-footer">
		<!-- shows submit & abandon buttons if user is a participant -->
		<ng-container *ngIf="isParticipating(this.questClicked.getQuestId()) && !isQuestTaken(this.questClicked.getQuestId())">
			<button type="submit" class="btn btn-danger mr-auto" (click)="abandonQuest()">Abandon Quest</button>
			<button type="submit" class="btn btn-success" (click)="submitQuest(comment)">Submit Quest</button>
		</ng-container>
		<!-- shows accept button if user is not yet a participant -->
		<ng-container *ngIf="!isParticipating(this.questClicked.getQuestId())">
			<button type="submit" class="btn btn-success" (click)="acceptQuest()">Accept the Quest</button>
		</ng-container>
		<!-- shows resubmit and show scores button if user already submitted quest-->
		<ng-container *ngIf="isParticipating(this.questClicked.getQuestId()) && isQuestTaken(this.questClicked.getQuestId())">
			<button type="submit" class="btn btn-danger mr-auto" (click)="abandonQuest()">Resubmit</button>
			<button type="submit" class="btn btn-success" (click)="openLeaderBoardModal()">Show Scores</button>
		</ng-container>
	</div>
</ng-template>
<!-- quest modal template end -->

<!-- Modal for leaderboard -->
<ng-template #leaderboardTemplate>
	<div class="modal-body">
		<h4>{{ questClicked.getQuestTitle() }}</h4>
		<table class="table table-hover">
			<thead style="font-weight: bold">
				<tr>
					<td>Rank</td>
					<td>Student ID</td>
					<td>XP</td>
					<td>Quest Completed</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let xp of leaderboardRecords; let rank = index">
					<td>{{ rank+1 }}</td>
					<td>{{ xp.studentId }}</td>
					<td>{{ xp.score }}</td>
					<td>{{ xp.dateCompleted }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-right" (click)="lbModalRef.hide()">Close</button>
	</div>
</ng-template>