<!-- input button for hiding/showing sidetab-->
<input type="checkbox" id="slide" name="" value="" (click)="clickMenuButton()" [checked]="isShowSideTab" />

<div class=container>

	<!-- the displayed button for hiding/showing button-->
	<label for="slide" style="margin: 30px 10px" class="toggle">☰</label>

	<!-- the side tab -->
	<ul class="vert-tab">
		<!-- image of the current user -->
		<li>
			<img [src]="image" alt="Cat">
		</li>

		<!-- current user's name-->
		<li *ngIf="currentUser">
			{{currentUser.getUserFullName()}}
		</li>

	</ul>
</div>