<!--General Top Navigation Bar-->
<gen-topnavbar></gen-topnavbar>

<body>
  <!--Side Tab-->
  <gen-sidetab></gen-sidetab>

  <!--Side Body: complement of vertical side tab-->
  <div class="side-body">

    <!--Search bar-->
    <div class="search-container">
      <form (keydown.enter)="search()">
        <input type="text" placeholder="Search.." [(ngModel)]="course_search" name="course_search">
        <button type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>

    <!--Course/Search-Result List Table (also contains search result list)-->
    <table id="hor-zebra" summary="Course List">
      <thead>
        <tr>
          <th scope="col">Course Name</th>
          <th scope="col">Section</th>
          <th scope="col">Instructor</th>
          <th scope="col" *ngIf="isSearching && course_found && course_found.length != 0">Add Course</th>
        </tr>
      </thead>
      <tbody>
        <!--Shows if user is searching-->
        <ng-container *ngIf="isSearching">
          <!--Shows if no course of same code/name has been found-->
          <tr *ngIf="!course_found || course_found.length == 0">
            <td colspan="3" style="text-align: center">Course not found!</td>
          </tr>
          <!--Shows if course has been found-->
          <tr *ngIf="course_found && course_found.length != 0" [class.odd]="true">
            <td>
              {{this.course_found[0].course_name}}
            </td>
            <td>{{this.course_found[0].course_name}}</td>
            <td>{{this.course_found[0].instructor}}</td>
            <td>
              <a class=clickable>Add</a>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!isSearching">
          <!--Shows if user has no enrolled course-->
          <tr *ngIf="!sections || sections.length == 0">
            <td colspan="3" style="text-align: center">You have no course enrolled yet!
              <br>Search course name or course code now.</td>
          </tr>
          <!--AHJ: Fix zebra form-->
          <ng-container id="mult" *ngIf="sections != null && sections.length != 0">
            <tr *ngFor="let section of sections" [class.odd]="i%2 == 0">
              <td>
                <a class="clickable" (click)=openCoursePage(section.section_id)>{{section.section_name}}</a>
              </td>
              <td>{{section.section_name}}</td>
              <td>{{section.instructor}}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</body>