/*Header3 Design*/
h3:after {
    content:' ';
    margin-top: 5px;
    display:block;
    width: 90%;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.section-badge .badge-display .badge-img{
    margin: 10px 2px;
    height: 90px;
    width: 90px;
}