.container {
    width: 500px;
    height: 275px;
    border-radius: 10px;
    margin-top: 7%;
    display: block;
    border: 1px solid lightgray;
}

.container-header {
    padding-top: 20px;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid lightgray;
}

.container-body {
    width: 100%;
    height: 150px;
}

.container-footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid lightgray;
}

button {
    float: right;
    margin-top: 7px;
    margin-left: 10px;
    width: 60px;
}

button:hover {
    cursor: pointer;
}

.container-footer p {
    margin-top: 10px;
    float: left;
    color: red;
}