<form class="form-horizontal"
    [formGroup]="changePassForm">
    <div class="container">
        <div class="container-header">
            <h2>Find Your Account</h2>
        </div>

        <div class="container-body">
            <br>
            <p>
                Please enter your email in the text area below so that
                we will be able to help you in retrieving your account.
            </p>
            <input  type="text" 
                    class="form-control" 
                    placeholder="Enter your email here."
                    formControlName="inputEmail">
        </div>

        <div class="container-footer">
            <!-- <p *ngIf="sent">Message sent to "{{ email }}".</p>
            <p *ngIf="failSent">Error. Cannot find "{{ email }}".</p> -->
            <button type="button" 
                    class="btn btn-danger btn-sm"
                    (click)="goToLogin()"> Cancel
            </button>
            <button type="button" 
                    class="btn btn-primary btn-sm"
                    (click)="find()"> Find
            </button>
        </div>
    </div>
</form>