/*Course/Search-Result List Table*/
#table-classmate {
    font-family: Helvetica, Times ,"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    width: 70%;
    text-align: left;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
    display: block;
}

#table-classmate thead {
    display: table-header-group;
    border-color: inherit;
}

#table-classmate .tr, #table-classmate tr, #table-classmate .tr, #table-classmate tr {
    border-bottom: 1px solid #ddd;
}

#table-classmate td, #table-classmate th{
    padding: 6px;
}

#table-classmate td a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(118, 143, 243)
}

#table-classmate .odd {
    background: #e8edff;
}