/*Padding added so body will not be overlapped by topnavbar*/
body {
    padding: 50px 50px 50px 0;
}

/*Main body - Complement of Vertical Tab*/
.side-body {
    margin-left:25%;
    width:100%;
}

/* Floating Add Button*/
.floating-button{
	position:fixed;
	width:53px;
	height:53px;
	bottom:40px;
	right:40px;
	background-color: #1E90FF;
	border-radius:10px;
	text-align:center;
    box-shadow: 2px 2px 3px #999;
    -webkit-transition: right 0.5s; /* Safari */
    transition: right 0.5s;
}

.floating-button:hover {
    cursor: pointer;
}

.plus-sign{
    margin-top:19px;
    color:#FFF;
}

.class-posts {
    margin-top:10px;
}

.class-posts .action-box {
  border-top:1px dotted #bbb;
}

.action-box a{
  cursor: pointer;
}

/*Reply Comment Box*/
.clear {
    clear:both;
    line-height:0;
}

#file {
  display: none;
}

.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload div {
float: left;
width: 100%;
}
.status-upload div textarea {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload div button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
  float: left;
}
.status-upload ul > li > label {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > label:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}
/*------------------*/

.create-post .panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 2px 3px 7px;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.class-posts .post .post-heading {
  height: 95px;
  padding: 20px 15px;
}

.create-post .post .post-heading {
  padding: 20px 15px 0 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.class-posts .post .post-description {
  padding: 15px;
}

.create-post .post .post-description {
  padding: 0 15px 10px 15px;
}

.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}



/*Comments Section (not reply)*/
.comments {
    width: 80%;
    margin: 20px 0 20px 80px
}
.comments article {
    position: relative;
    border-bottom: solid 1px rgba(178, 179, 153, 0.125);
    margin: 0 auto 0px auto;
}
.comments article:last-child {
    border: none;
}
.comments article:hover time {
    opacity: 1;
}
.comments article img {
    position: absolute;
    top: -10px;
    left: -75px;
    width: 50px;
    height: 50px;
    border-width: 0;
    border-radius: 100%;
}
.comments article h5 {
    display: inline-block;
    font-weight: 400;
    margin-bottom: 25px;
}
.comments article h5 a {
    color: #404040;
    text-transform: lowercase;
    text-decoration: none;
}

.comments article h5 a:hover {
    color: #BFBFA8;
}

.comments article time {
    color: #545454;
    margin-left: 1rem;
    text-transform: uppercase;
}

.comments article time {
    font-size: .75rem;
    opacity: 0;
}

.comments article p {
    margin-bottom: 50px;
}
.comments article p .reply {
    color: #BFBFA8;
    cursor: pointer;
  }
 .comments article .active {
    opacity: 1;
  }