<!-- input button for hiding/showing sidetab-->
<input type="checkbox" id="slide" name="" value="" (click)="clickMenuButton()" [checked]="isShowSideTab" />

<div class=container>

	<!-- the displayed button for hiding/showing button-->
	<label for="slide" style="margin: 30px 10px" class="toggle">☰</label>

	<!-- the side tab -->
	<ul class="vert-tab">
		<!-- image of the current user -->
		<li>
			<img [src]="image" alt="Cat">
		</li>

		<!-- current user's name-->
		<li *ngIf="currentUser">
			{{currentUser.getUserFullName()}}
		</li>

		<!--displays quests if navigated page is not a profile page-->
		<ng-container *ngIf="!isProfile">

			<!-- Quests-->
			<li style="font-weight: bold">
				Quest(s):
			</li>

			<ng-container *ngIf="!quests">
				This is where your activities in all courses will be listed, when you get one.
			</ng-container>

			<!-- display all quest for all sections -->
			<li *ngFor="let quest of quests; let title of questCourses; let i = index">
				<!-- the quest progress bar and some basic information -->
				<a [tooltip]="questTemplate" placement="auto" container="body" (click)="openQuest(questClickedTemplate, quest, i)">
					{{questCourses[i]}}
					<br> {{quest.getQuestTitle()}}
					<!-- {{quest.quest.getQuestTitle()}} -->
					<div class="progress">
						<div ngClass="{{this.defaultPBClass}} {{this.progressBarClass? this.progressBarClass[i]: ''}}" role="progressbar" aria-valuenow="40"
						 aria-valuemin="0" aria-valuemax="100" [style.width]="this.questTimePercentage? this.questTimePercentage[i]: '0%'">
						</div>
						<span>{{this.questTimeDisplay? this.questTimeDisplay[i]: '0%'}}</span>
					</div>

					<!-- template for the tooltip quest information -->
					<ng-template #questTemplate>
						<div class="quest-display-box">Description:</div>
						<div>{{quest.getQuestDescription()}}</div>
						<div class="quest-display-box">Started on:</div>
						<div>{{this.formatDateTime(quest.getQuestStartTimeDate())}}</div>
						<div class="quest-display-box">Deadline:</div>
						<div>{{this.formatDateTime(quest.getQuestEndTimeDate())}}</div>
						<!-- <div class="quest-display-box">Description:</div>
						<div>{{quest.quest.getQuestDescription()}}</div>
						<div class="quest-display-box">Started on:</div>
						<div>{{this.formatDateTime(quest.quest.getQuestStartTimeDate())}}</div>
						<div class="quest-display-box">Deadline:</div>
						<div>{{this.formatDateTime(quest.quest.getQuestEndTimeDate())}}</div> -->
					</ng-template>

					<!-- template when quest is clicked -->
					<ng-template #questClickedTemplate>

						<!-- Quest Modal Header/Title -->
						<div class="modal-header">
							<h4 class="modal-title">
								{{this.questClicked.getQuestTitle()}}
							</h4>
							<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>

						<!-- Quest Information -->
						<div class="modal-body">
							{{this.questClicked.getQuestDescription()}}
							<div class="row" style="margin-top: 20px">
								<div class="col-sm-6">
									Rewards:
									<br> + {{this.questClicked.getQuestXp()}} XP
									<br> + {{this.questClicked.getQuestHp()}} HP
									<br>
									<ng-container *ngIf="this.questClicked.getQuestBadge().length > 0">Badge: {{this.badgeName}} (if achieved at least 80% when graded) </ng-container>
								</div>
								<div class="col-sm-6">
									Started on:
									<br> {{this.formatDateTime(this.questClicked.getQuestStartTimeDate())}}
									<br>
									<br> Deadline:
									<br> {{this.formatDateTime(this.questClicked.getQuestEndTimeDate())}}
									<br>
									<br>
								</div>
							</div>
							<div>
								<textarea [(ngModel)]="commentBox" style="width: 100%" placeholder="Place your comment here."></textarea>
							</div>
						</div>

						<!-- Quest Modal Buttons -->
						<div class="modal-footer">
							<!-- shows submit & abandon buttons if user is a participant -->
							<button type="submit" class="btn btn-danger mr-auto" (click)="abandonQuest(this.questClicked.getQuestId())">
								Abandon Quest
							</button>
						</div>
						<!-- (ngSubmit)="func()" -->
						<div class="modal-footer">
							<!-- File input for the file-upload plugin, with special ng2-file-upload directive called ng2FileSelect -->
							<input *ngIf="uploader?.queue?.length == 0" type="file" name="photo" multiple ng2FileSelect [uploader]="uploader" />
							<!-- button to trigger the file upload when submitted -->
							<div *ngIf="uploader?.queue?.length > 0">Files chosen:</div>
							<div class="row" *ngFor="let item of uploader.queue">
								<div class="col-sm-6">{{item.file.name}}</div>
								<div class="col-sm-6">
									<button type="button" class="btn btn-danger" (click)="item.remove()">X</button>
								</div>
							</div>

							<button type="button" class="btn btn-success btn-s" (click)="uploader.queue.length>0?uploader.uploadAll(): submitQuest(this.questClicked.getQuestId(), null)"
							 [disabled]="!uploader.getNotUploadedItems().length && this.commentBox == '' ">
								Submit Quest
							</button>
						</div>

					</ng-template>
				</a>

			</li>
			<li></li>
			<li></li>
			<li></li>
		</ng-container>
		<!-- end of shown quest (for pages other than profile page) -->

		<!--displays user information if page navigated is a profile page-->
		<ng-container *ngIf="isProfile">

			<!-- User infomation -->
			<form class="form-horizontal" [formGroup]="editForm" (ngSubmit)="endEditing()">

				<!-- User's current enrolled classes -->
				<li> Class List: </li>
				<li *ngFor="let section of sections; let i = index">
					<div *ngIf="!sections || sections.length == 0">You have no course yet!</div>
					<a (click)=openSectionPage(section.section.getSectionId())>{{section.course_name}} - {{section.section.getSectionName()}}</a>
				</li>

				<!-- Edit button -->
				<li style="text-align: right">
					<!-- submit button (if done editing)-->
					<button *ngIf="isEditing" type="submit" class="btn btn-primary" [disabled]="!editForm.valid" (click)="submit()">
						Submit
					</button>

					<!-- edit button (if user wants to edit their information) -->
					<button *ngIf="!isEditing" class="btn btn-primary" (click)="startEditing()">
						Edit
					</button>
				</li>

				<!-- User personal information -->
				<ng-container *ngIf="currentUser">
					<li> School ID: </li>
					<li>
						<input type="text" formControlName="schoolId" class="user-information remove-border" />
					</li>
					<li> Email: </li>
					<li>
						<input type="text" formControlName="email" class="user-information remove-border" />
					</li>
					<li> Contact #: </li>
					<li>
						<input type="text" formControlName="contactNo" class="user-information" [class.remove-border]="!isEditing" />
					</li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ng-container>

			</form>
			<!-- end of user information (for general profile) -->

		</ng-container>
		<!-- end of side tab for general profile -->

	</ul>
</div>