/*Vertical Tab*/
.vert-tab {
    list-style-type: none;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    left: -1px;
    top: 30px;
    overflow-y: scroll;
    box-shadow: 1px 1px 13px #888888;
}

.vert-tab img { /*Adjusts image inside the side tab*/
    padding-top: 30px;
    max-width: 100%;
    max-height: 50%;
    height: auto;
}

.vert-tab li, .vert-tab li a{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.vert-tab li a.active {
    background-color: #4CAF50;
    color: white;
}

.vert-tab li a:hover:not(.active) {
    background-color: #555;
    color: white;
    cursor: pointer;
}

/*Quest Tooltip*/
.quest-display-box {
    font-weight: bold; 
    text-align: left;
}

.quest-display-box+div{
    text-align: left;
}

/*Progress Bars*/
.progress {
    position:relative;
}
.progress span {
    position:absolute;
    left:0;
    width:100%;
    top: 15%;
    text-align:center;
    z-index:2;
    color:black;
    font-size: 0.85em;
}

.remove-border {
    border: none;
}

/*For form's input*/
.user-information {
    width: 100%;
}

/*For side tab's menu button*/
.toggle {
    position: fixed;
}

@media screen and (max-width: 768px) {
    
    .vert-tab {
        width: 250px;
        box-shadow: 0.2px 0.2px 13px #8f8e8e;
    }

    .toggle {
        position: fixed;
        font-size: 1.3em;
        cursor: pointer;
        left: 0px;
        -webkit-transition: left 0.5s; /* Safari */
        transition: left 0.5s;
    }
    
    #slide {
        display: none; 
    }

    /*for hiding (plus animation)*/
    #slide:checked + .container .toggle {
        left: 250px;
        -webkit-transition: left 0.5s; /* Safari */
        transition: left 0.5s;
    }

    #slide:not(:checked) + .container .vert-tab {
        left: -250px;
        -webkit-transition: left 0.5s; /* Safari */
        transition: left 0.5s;
    }

    #slide:checked + .container .vert-tab {
        left: 0px;
        -webkit-transition: left 0.5s; /* Safari */
        transition: left 0.5s;
    }
}



