.course-section {
    text-align: left;
    margin: auto;
}

/*Student Table*/
.table-label {
    padding-top: 20px;
    padding-bottom: 10px;
}

#table-classmate {
    max-width: 600px;
    width: 80%;
    font-family: Helvetica, Times ,"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
}

#table-classmate thead {
    display: table-header-group;
    border-color: inherit;
}

#table-classmate .tr, #table-classmate tr, #table-classmate .tr, #table-classmate tr {
    border-bottom: 1px solid #ddd;
}

#table-classmate td, #table-classmate th{
    padding: 6px;
}

#table-classmate td a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(118, 143, 243)
}

#table-classmate .odd {
    background: #e8edff;
}

/*Student Modal*/
.modal-header h4 {
    margin: 0 auto;
}

.modal-body img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.modal-body .student-badge{
    text-align: center;
}

.modal-body h5:before, .badge-section-title:before {
    content:' ';
    margin-bottom: 10px;
    display:block;
    width: 100%;
    border:0.5px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.badge-section-title:before {
    margin-top: 30px;
}

.modal-body .badge-display {
    padding-top: 5px;
    overflow-y: auto;
    height: 200px;
    text-align: left;
}

.modal-body .badge-display .badge-img{
    margin: 10px 2px;
    height: 80px;
    width: 80px;
}

.section-badge .badge-display .badge-img{
    margin: 10px 2px;
    height: 90px;
    width: 90px;
}