<br>
<h2>Sign Up</h2>
<br>

<form class="form-horizontal"
    [formGroup]="signupForm" 
    (ngSubmit)="submit()">
    <table>
        <tr>
            <td>
                <label for="first-name">First Name:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="text" 
                                class="form-control"
                                required
                                formControlName="firstName"
                                name="firstName"
                                id="first-name" 
                                placeholder="First name">
                    </div>
                    <small  *ngIf="firstName.invalid && firstName.dirty"
                            class="form-text text-danger">First name is required.
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="middle-name">Middle Name:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="text" 
                                class="form-control" 
                                required
                                formControlName="middleName"
                                name="middleName"
                                id="middle-name" 
                                placeholder="Middle name">
                    </div>
                    <small  *ngIf="middleName.invalid && middleName.dirty"
                            class="form-text text-danger">Middle name is required.
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="last-name">Last Name:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="text"
                                class="form-control" 
                                required
                                formControlName="lastName"
                                name="lastName"
                                id="last-name" 
                                placeholder="Last name">
                    </div>
                    <small  *ngIf="lastName.invalid && lastName.dirty"
                            class="form-text text-danger">Last name is required.
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="birthdate">Birthdate:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="date"
                                class="form-control" 
                                required
                                formControlName="birthdate"
                                name="birthdate"
                                id="birthdate" 
                                placeholder="Birthdate">
                    </div>
                    <small  *ngIf="birthdate.invalid && birthdate.dirty"
                            class="form-text text-danger">Birthdate is required.
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="school-id">School ID:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="text" 
                                class="form-control" 
                                required
                                formControlName="schoolId"
                                name="schoolId"
                                id="school-id" 
                                placeholder="School ID">
                    </div>
                    <small  *ngIf="schoolId.invalid && schoolId.dirty"
                            class="form-text text-danger">School ID is required.
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="contact-no">Contact No.:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="text" 
                                class="form-control" 
                                required
                                formControlName="contactNumber"
                                name="contactNumber"
                                id="contact-no" 
                                placeholder="Contact number">
                    </div>
                    <small  *ngIf="contactNumber.invalid && contactNumber.dirty"
                            class="form-text text-danger">Contact number is required.
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="email">Email:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="email" 
                                class="form-control" 
                                required
                                formControlName="email"
                                name="email"
                                id="email" 
                                placeholder="Email Address">
                    </div>
                    <small  *ngIf="email.dirty && email.errors?.email"
                            class="form-text text-danger">E-mail has invalid format.
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="password">Password:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="password"
                                class="form-control"
                                required
                                formControlName="password"
                                name="password"
                                id="password"
                                placeholder="Password">
                    </div>
                    <small  *ngIf="password.invalid && password.dirty"
                            class="form-text text-danger">Password is required.
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="confirm-password">Confirm Password:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="password" 
                                class="form-control"
                                required
                                formControlName="confirmPassword"
                                id="confirm-password" 
                                placeholder="Confirm password">
                    </div>
                    <small  *ngIf="confirmPassword.dirty && (password.value != confirmPassword.value)"
                            class="form-text text-danger">Input is not equal with password.
                    </small>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="security-question">Security Question:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <select type="text" 
                                class="form-control" 
                                required
                                formControlName="securityQuestion"
                                name="securityQuestion"
                                id="security-question">
                        <option *ngFor="let question of questions" [value]="question">{{ question.securityQuestion }}</option>
                        </select>
                        <small  *ngIf="securityQuestion.invalid && securityQuestion.dirty"
                                class="form-text text-danger">Security question is required.
                        </small>
                    </div>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <label for="security-answer">Answer:</label>
            </td>
            <td>
                <div class="form-group">
                    <div class="col-sm-10">
                        <input  type="text" 
                                class="form-control" 
                                required
                                formControlName="securityAnswer"
                                name="securityAnswer"
                                id="security-answer" 
                                placeholder="Answer">
                    </div>
                    <small  *ngIf="securityAnswer.invalid && securityAnswer.dirty"
                            class="form-text text-danger">Security question answer is required.
                    </small>
                </div>
            </td>
        </tr>
    </table>
    <br>
        <label for="user-type">What is your user type?</label>
    <br>
        <input  type="radio" 
                name="type"
                value="student" 
                formControlName="type" 
                class="user-type"
                required> Student
        <input  type="radio" 
                name="type" 
                value="teacher" 
                style="margin-left: 50px;"
                formControlName="type" 
                class="user-type"
                required> Teacher
    <br>
    <br>
        <small *ngIf="duplicate"
            style="text-align: center;"
            class="form-text text-danger">The email {{ duplicate }} already exists.
        </small>
    <br *ngIf="duplicate">
        <button type="submit"
                [disabled]="signupForm.invalid || (password.value != confirmPassword.value)"
                class="btn btn-primary">Sign up
        </button>
        <button type="button"
                [disabled]="signupForm.untouched"
                class="btn btn-danger"
                (click)="reset()">Reset
        </button>
    <br>
        <a href="../log-in">I already have an account.</a>
</form>