<div class="container">
    <div class="container-header">
        <h2>Sign Up</h2>
    </div>

    <form class="form-horizontal"
        [formGroup]="signupForm" 
        (ngSubmit)="submit()">
        <table>
            <tr>
                <td>
                    <label for="first-name">First Name:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="text" 
                                    class="form-control"
                                    required
                                    formControlName="firstName"
                                    name="firstName"
                                    id="first-name" 
                                    placeholder="First name">
                        </div>
                        <!-- Displays warning message if first name is empty upon modification. -->
                        <small  *ngIf="firstName.invalid && firstName.dirty"
                                class="form-text text-danger">First name is required.
                        </small>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="middle-name">Middle Name:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="text" 
                                    class="form-control" 
                                    required
                                    formControlName="middleName"
                                    name="middleName"
                                    id="middle-name" 
                                    placeholder="Middle name">
                        </div>
                        <!-- Displays warning message if middle name is empty upon modification. -->
                        <small  *ngIf="middleName.invalid && middleName.dirty"
                                class="form-text text-danger">Middle name is required.
                        </small>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="last-name">Last Name:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="text"
                                    class="form-control" 
                                    required
                                    formControlName="lastName"
                                    name="lastName"
                                    id="last-name" 
                                    placeholder="Last name">
                        </div>
                        <!-- Displays warning message if last name is empty upon modification. -->
                        <small  *ngIf="lastName.invalid && lastName.dirty"
                                class="form-text text-danger">Last name is required.
                        </small>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="birthdate">Birthdate:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="date"
                                    class="form-control" 
                                    required
                                    formControlName="birthdate"
                                    name="birthdate"
                                    id="birthdate" 
                                    placeholder="Birthdate">
                        </div>
                        <!-- Displays warning message if birthdate is empty upon modification. -->
                        <small  *ngIf="birthdate.invalid && birthdate.dirty"
                                class="form-text text-danger">Birthdate is required.
                        </small>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="school-id">School ID:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="text" 
                                    class="form-control" 
                                    required
                                    formControlName="schoolId"
                                    name="schoolId"
                                    id="school-id" 
                                    placeholder="School ID">
                        </div>
                        <!-- Displays warning message if school id is empty upon modification. -->
                        <small  *ngIf="schoolId.invalid && schoolId.dirty"
                                class="form-text text-danger">School ID is required.
                        </small>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="contact-no">Contact No.:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="text" 
                                    class="form-control" 
                                    required
                                    formControlName="contactNumber"
                                    name="contactNumber"
                                    id="contact-no" 
                                    placeholder="Contact number">
                        </div>
                        <!-- Displays warning message if contact number is empty upon modification. -->
                        <small  *ngIf="contactNumber.invalid && contactNumber.dirty"
                                class="form-text text-danger">Contact number is required.
                        </small>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="email">Email:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="email" 
                                    class="form-control" 
                                    required
                                    formControlName="email"
                                    name="email"
                                    id="email" 
                                    placeholder="Email Address">
                        </div>
                        <!-- Displays warning message if email is empty upon modification. -->
                        <small  *ngIf="email.dirty && email.errors?.email"
                                class="form-text text-danger">E-mail has invalid format.
                        </small>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="password">Password:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="password"
                                    class="form-control"
                                    required
                                    formControlName="password"
                                    name="password"
                                    id="password"
                                    placeholder="Password">
                        </div>
                        <!-- Displays warning message if password is empty upon modification. -->
                        <small  *ngIf="password.invalid && password.dirty"
                                class="form-text text-danger">Password is required.
                        </small>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="confirm-password">Confirm Password:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="password" 
                                    class="form-control"
                                    required
                                    formControlName="confirmPassword"
                                    id="confirm-password" 
                                    placeholder="Confirm password">
                        </div>
                        <!-- Displays warning message if input is not equal with the password. -->
                        <small  *ngIf="confirmPassword.dirty && (password.value != confirmPassword.value)"
                                class="form-text text-danger">Input is not equal with password.
                        </small>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="security-question">Security Question:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <select type="text" 
                                    class="form-control" 
                                    required
                                    formControlName="securityQuestion"
                                    name="securityQuestion"
                                    id="security-question">
                            <option *ngFor="let question of questions" 
                                    [value]="question">{{ question }}
                            </option>
                            </select>
                            <!-- Displays warning message if security question is empty upon modification. -->
                            <small  *ngIf="securityQuestion.invalid && securityQuestion.dirty"
                                    class="form-text text-danger">Security question is required.
                            </small>
                        </div>
                    </div>
                </td>
            </tr>
            <!-- question.securityQuestion -->
            <tr>
                <td>
                    <label for="security-answer">Answer:</label>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <input  type="text" 
                                    class="form-control" 
                                    required
                                    formControlName="securityAnswer"
                                    name="securityAnswer"
                                    id="security-answer" 
                                    placeholder="Answer">
                        </div>
                        <!-- Displays warning message if security answer is empty upon modification. -->
                        <small  *ngIf="securityAnswer.invalid && securityAnswer.dirty"
                                class="form-text text-danger">Security question answer is required.
                        </small>
                    </div>
                </td>
            </tr>
        </table>
        <div class="container-footer">
            <br>
                <label for="user-type">What is your user type?</label>
            <br>
                <input  type="radio" 
                        name="type"
                        value="student" 
                        formControlName="type" 
                        class="user-type"
                        required> I am a Student
                <input  type="radio" 
                        name="type" 
                        value="teacher" 
                        style="margin-left: 30px;"
                        formControlName="type" 
                        class="user-type"
                        required> I am a Teacher
            <br>
            <br>
                <!-- Displays warning message if the input email already existed. -->
            <div *ngIf="duplicate">
                <small style="text-align: center;"
                    class="form-text text-danger">The email {{ duplicate }} already exists.
                </small>
                <br>
            </div>
                <button type="submit"
                        [disabled]="signupForm.invalid || (password.value != confirmPassword.value)"
                        class="btn btn-primary"
                        style="margin-right: 20px;">Sign up
                </button>
                <button type="button"
                        [disabled]="signupForm.untouched"
                        class="btn btn-danger"
                        (click)="reset()">Reset
                </button>
            <br>
                <p (click)="userLogin()"
                    class="hyperlinks">I already have an account.</p>
        </div>
    </form>
</div>