<br>
<h2>Sign Up</h2>
<br><br>

<form class="form-horizontal" [formGroup]="signupForm" (ngSubmit)="submit()">
  <table>
    <tr>
      <td>
        <label for="first-name">First Name:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input  ng-keyup="signalclose()"
                    type="text" 
                    class="form-control"
                    required
                    formControlName="firstName"
                    id="first-name" 
                    placeholder="First name">
          </div>
          <small  *ngIf="((firstName.invalid && firstName.dirty) || signal)"
                  class="form-text text-danger">This field is required.
          </small>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="middle-name">Middle Name:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input  type="text" 
                    class="form-control" 
                    required
                    formControlName="middleName"
                    id="middle-name" 
                    placeholder="Middle name">
          </div>
          <small  *ngIf="((middleName.invalid && middleName.dirty) || signal)"
                  class="form-text text-danger">This field is required.
          </small>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="last-name">Last Name:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input  type="text"
                    class="form-control" 
                    required
                    formControlName="lastName"
                    id="last-name" 
                    placeholder="Last name">
          </div>
          <small  *ngIf="((lastName.invalid && lastName.dirty) || signal)"
                  class="form-text text-danger">This field is required.
          </small>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="birthdate">Birthdate:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input  type="date"
                    class="form-control" 
                    required
                    formControlName="birthdate"
                    id="birthdate" 
                    placeholder="Birthdate">
          </div>
          <small  *ngIf="((birthdate.invalid && birthdate.dirty) || signal)"
                  class="form-text text-danger">This field is required.
          </small>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="school-id">School ID:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input  type="text" 
                    class="form-control" 
                    required
                    formControlName="schoolId"
                    id="school-id" 
                    placeholder="School ID">
          </div>
          <small  *ngIf="((schoolId.invalid && schoolId.dirty) || signal)"
                  class="form-text text-danger">This field is required.
          </small>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="email">Email:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input  type="email" 
                    class="form-control" 
                    required
                    formControlName="email"
                    id="email" 
                    placeholder="Email Address">
          </div>
          <small  *ngIf="((email.invalid && email.dirty) || signal)"
                  class="form-text text-danger">This field is required.
          </small>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="password">Password:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input  type="password"
                    class="form-control"
                    required
                    formControlName="password"
                    id="password"
                    placeholder="Password">
          </div>
          <small  *ngIf="((password.invalid && password.dirty) || signal)"
                  class="form-text text-danger">This field is required.
          </small>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="confirm-password">Confirm Password:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input  type="password" 
                    class="form-control"
                    required
                    formControlName="confirmPassword"
                    id="confirm-password" 
                    placeholder="Confirm password">
          </div>
          <small  *ngIf="((confirmPassword.invalid && confirmPassword.dirty) || signal)"
                  class="form-text text-danger">This field is required.
          </small>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="security-question">Security Question:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <select type="text" 
                    class="form-control" 
                    required
                    formControlName="securityQuestion"
                    id="security-question">
              <option *ngFor="let question of questions" [value]="question">{{ question.securityQuestion }}</option>
            </select>
            <small  *ngIf="((securityQuestion.invalid && securityQuestion.dirty) || signal)"
                    class="form-text text-danger">This field is required.
            </small>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td>
        <label for="security-answer">Answer:</label>
      </td>
      <td>
        <div class="form-group">
          <div class="col-sm-10">
            <input  type="text" 
                    class="form-control" 
                    required
                    formControlName="securityAnswer"
                    id="security-answer" 
                    placeholder="Answer">
          </div>
          <small  *ngIf="((securityAnswer.invalid && securityAnswer.dirty) || signal)"
                  class="form-text text-danger">This field is required.
          </small>
        </div>
      </td>
    </tr>
  </table>
  <br>
    <button type="submit"
            class="btn btn-primary">Sign up
    </button>
    <button type="button"
            class="btn btn-danger"
            (click)="reset()">Reset
    </button>
</form>