/*Table styles*/
#hor-zebra {
    width: 70%;
}

/*Search Bar*/
.search-container {
    float: right;
    border: 0.1px rgba(252, 242, 242, 0.849);
    margin-top:-20px;
}
  
.search-container input[type=text]{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}
  
.search-container button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: right;
    padding: 4px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 16px;
    cursor: pointer;
}
  
.search-container button:hover {
    background: #ccc;
}
  
@media screen and (max-width: 768px) {
    .search-container {
      float: none;
    }
    .search-container input[type=text], .search-container button {
      border-radius: 10px;
      float: none;
      display: block;
      text-align: left;
      width: 90%;
      padding: 10px;
      margin-bottom: 10px;
    }


    .search-container input[type=text] {
      border: 1px solid #ccc;  
      margin-top: 30px;
    }
}