<button
	type="button"
	class="btn btn-primary"
	(click)="openModal(leaderboardModal)"> show modal
</button>

<ng-template #leaderboardModal>
	<div class="modal-body">
		<h4>Quest Name</h4>
		<table class="table table-hover">
			<thead style="font-weight: bold">
				<tr>
					<td>Rank</td>
					<td>Student Number</td>
					<td>Experience</td>
					<td>Time Submitted</td>
					<td>Date Submitted</td>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="">
				</tr>

				<tr>
					<td>1</td>
					<td>2014-xxxxx</td>
					<td>100</td>
					<td>ss:mm:hh</td>
					<td>dd/mm/yyyy</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2014-xxxxx</td>
					<td>70</td>
					<td>ss:mm:hh</td>
					<td>dd/mm/yyyy</td>
				</tr>
				<tr>
					<td>3</td>
					<td>2014-xxxxx</td>
					<td>60</td>
					<td>ss:mm:hh</td>
					<td>dd/mm/yyyy</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="modal-footer">
		<button class="btn btn-danger pull-right" (click)="modalRef.hide()">Close</button>
	</div>
</ng-template>