.character {
    text-align: center;
    margin: 0 auto;
}

/*Proper scaling of character image*/
.character .img-character img{
    max-height: 360px;
    max-width: 180px;
}

/*To align the elements*/
.character .equipment-left, .character .equipment-right, .character .img-character {
    height: 100%;
    float: left;
}

/*Width of the character image, and left & right eqpmt*/
.character .equipment-left, .character .equipment-right {
    width: 25%;
}

.character .img-character {
    width: 50%;
}

.character .equipment-left div, .character .equipment-right div{
    margin: 5px;
    display: block;
    height: 27%;
    width: 100%;
    background-color: #4aa0fc;

    border: 5px solid #007bff;
    border-radius: 50px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;

    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

.equipment-consummable{
    padding: 0;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    right: 0;
    top: 50px;
    overflow-y: scroll;
    box-shadow: 1px 1px 13px #888888;
}

.equipment-consummable .equipment, .equipment-consummable .consummable {
    padding: 10px;
    height: 50%;
    display: block;
    font-size: 0.9em;
}

@media screen and (max-width: 800px) {
    .character, .btn-equipment-consummable {
        width: 100%;
        text-align: center;
        margin: 10px auto;
        padding: 10px;
        display: block;
    }
}