table {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

h2 {
    text-align: center;
}

.form-horizontal {
    width: 350px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.form-control {
    width: 200px;
    margin-right: -15px;
}

.linkers {
    text-align: center;
}

.linkers p {
    display: inline-block;
    vertical-align: top;
}

.container {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 400px;
    margin-top: 7%;
}

.container-header {
    border-bottom: 1px solid lightgray;
    margin-top: 15px;
}