/* You can add global styles to this file, and also import other style files */
.hyperlinks {
    text-decoration: underline;
    color: blue;
}

.hyperlinks:hover {
    cursor: pointer;
}

.clickable{
    text-decoration: none;
    cursor: pointer;
    color: rgb(118, 143, 243);
}

.clickable: hover{
    cursor: pointer;
}