/* You can add global styles to this file, and also import other style files */
.hyperlinks {
    text-decoration: underline;
    color: blue;
}

.hyperlinks:hover {
    cursor: pointer;
}

.clickable{
    text-decoration: none;
    cursor: pointer;
    color: rgb(118, 143, 243);
}

.clickable:hover{
    cursor: pointer;
}

.post-container {
    padding-bottom: 25px;
}

.loading-icon {
    height: 20px;
}
/*Header3 Design*/
.page-header:after {
    content:' ';
    margin-top: 5px;
    display:block;
    width: 90%;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

/*Table styling*/
#hor-zebra {
    font-family: Helvetica, Times ,"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    margin: auto;
    margin-top: 20px;
}

#hor-zebra thead {
    display: table-header-group;
    border-color: inherit;
}

#hor-zebra .tr, #hor-zebra tr, #hor-zebra .tr, #hor-zebra tr {
    border-bottom: 1px solid #ddd;
}

#hor-zebra td, #hor-zebra th{
    padding: 6px;
}

#hor-zebra td a{
    text-decoration: none;
    cursor: pointer;
    color: rgb(118, 143, 243)
}

#hor-zebra .odd {
    background: #e8edff;
}

.badge-img{
    margin: 10px 2px;
    height: 80px;
    width: 80px;
}

.progress {
    background-color: #a9b4c1;
}
