<ul class="vert-tab">
    <li>
      <img src="https://image.freepik.com/free-photo/cute-cat-picture_1122-449.jpg" alt="Cat">
    </li>
    <li *ngIf="user">
      {{user.user_fname}} {{user.user_mname}} {{user.user_lname}}
    </li>
    <!--displays quests-->
    <li style="font-weight: bold">
      Quest(s):
    </li>
    <li *ngFor="let quest of quests; let i = index">
      <a>{{quest.quest_title}}
        <div class="progress">
          <div ngClass="{{this.defaultPBClass}} {{this.progressBarClass? this.progressBarClass[i]: ''}}" role="progressbar" aria-valuenow="40"
            aria-valuemin="0" aria-valuemax="100" [style.width]="this.questTimePercentage? this.questTimePercentage[i]: '0%'">
          </div>
          <span>{{this.questTimeDisplay? this.questTimeDisplay[i]: '0%'}}</span>
        </div>
        {{quest.quest_description}}
      </a>
    </li>
  </ul>